<html>
<head>
  <meta charset="utf-8">
  <title>allocate-rooms</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-image:url('../static/hospit.jpg')">
  <div class="one">
  <div class="logincontent" align="center">
      <div class="logintop">
          <h1>allocate-rooms</h1>
      </div>
      <div class="loginbottom">
  <form action="{{ url_for('allocate_rooms')}}" method="post" autocomplete="off">
<div class="msg">{{ msg }}</div>
    <input type="email" name="mail_id" class="textbox" id="mail_id" placeholder="enter mail_id" required><br>
    <input type="text" name="room_no" placeholder="enter room_id" class="textbox" id="room_no" required><br>
    <input type="text" name="block_no" placeholder="enter block_id"class="textbox" id="block_no" required><br>
    date in:<input type="date" name="date_in" placeholder="enter date_in" class="textbox" id="date_in" required><br>
    date out:<input type="date" name="date_out" placeholder="enter date_out" class="textbox" id="date_out"><br>
    <input type="submit" class="btn" value="book">
  </form>
</div>
</div>
</div>
</body>
