<html>
    <head>
        <meta charset="UTF-8">
        <title> register </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="registercontent" align="center">
            <div class="registertop">
                <h1>Register</h1>
            </div><br><br>
            <div class="registerbottom">
              <form action="{{ url_for('doctor_register')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="text" name="doctor_id" placeholder="Enter Your  ID" class="textbox" id="doctor_id" required><br><br>
            <input type="password" name="passwd" placeholder="Enter Your Password" class="textbox" id="passwd" required><br><br>
            <input type="text" name="doctor_name" placeholder="Enter Your name" class="textbox" id="doctor_name" required><br><br>
            <input type="date" name="availaible_date" placeholder="Enter Your availaible_date" class="textbox" id="availaible_date" required><br><br>
            <input type="submit" class="btn" value="Register"><br>
              </form>
              <p class="worddark">Already have account? <a class="worddark" href="{{ url_for('doctor_login')}}">Login here</a></p>
            </div>
        </div>
    </body>
</html>
