<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>AIM HOSPITAL</title>
    <link rel="stylesheet" href="../static/patient_home_page.css">
  </head>
  <body style="background-image:url('../static/hospital2.jpg')">
    <div id="top-border">AIM HOSPITAL</div>
    <ul id="unordered-list-1">
      <li></li>
      <li></li>
      <li><a href="{{url_for('aboutus')}}">About-us</a></li>
      <li><a href="{{url_for('doctors_data')}}">Doctors-profiles</a></li>
      <li><a href="#">My account</a>
      <ul>
        <li><a href="{{url_for('doctor_display')}}">Display</a></li>
        <li><a href="{{url_for('doctor_update')}}">Update</a></li>
        <li><a href="{{url_for('doctor_logout')}}">Logout</a></li>
      </ul></li>
      
    </ul>
    <!--<div class="msg">{{ msg }}</div>
    <div id="Appointment-box"><a href="{{url_for('pre_patient_record')}}">view patient_record</a></div>-->
  </body>
</html>
