<html lang="en">
    <head>
        <title>Appointments</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body style="background-image:url('../static/hospit.jpg')">

        <div class="one">
            <div class="content" align="center">
            <br>
                <div class="contentbar">
                    <h1>appointments</h1><br>
                     {% block content %}
                        <div class="border">
                            <table class="worddark"><br>
                                    <li><b>student id : a1@iiti.ac.in</b></li>
                                    <li>date_appointment: '2020-08-11'</li><br>
                                    <li><b>student id : a1@iiti.ac.in</b></li>
                                    <li>date_appointment: '2020-11-08'</li><br>
                                    <li><b>student id : cse@ac.in</b></li>
                                    <li>date_appointment: '2020-11-12'</li><br>
                            </table>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
