
<html>
<head>
  <meta charset="utf-8">
  <title>medicines</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-image:url('../static/hospit.jpg')">
    <div class="one">
      <div class="content" align="center">
          <div class="contentbar"><br>
      <h1>Please enter your deatails to book</h1>
<form action="{{url_for('takes')}}" method="POST" autocomplete="OFF">
  <div class="msg">{{msg}}</div>
    <input type="email" name="mail_id" placeholder="enter mail_id" class="textbox" id="" required><br>
    <input type="text" name="medicine_id" placeholder="enter medicine_id" class="textbox" required><br>

    <input type="text" name="quantity" placeholder="enter quantity" class="textbox" required><br>
    <input type="date" name="takes_date" placeholder="enter the date" class="textbox" required><br><br>
    <input type="submit" class=btn value="book now">
</form>
</div>
</div>
</div>
</body>
</html>
