<html lang="en">
    <head>
        <title>update</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body  style="background-image:url('../static/hospit.jpg')">
        <div class="one">
            <div class="content" align="center"><br>
                <div class="contentbar">
                  <h1>Fill Your Details to Update</h1><br>
              <form action="{{ url_for('update') }}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="email" name="mail_id" placeholder="Enter Your Email ID" class="textbox" id="mail_id" required><br></br>
                    <input type="password" name="passwd" placeholder="Enter Your Password" class="textbox" id="passwd" required><br></br>
                    <input type="text" name="P_name" placeholder="Enter Your name" class="textbox" id="P_name" required><br></br>
                    <input type="text" name="age" placeholder="Enter Your age" class="textbox" id="age" required><br></br>
                    <input type="text" name="blood_group" placeholder="Enter Your blood group" class="textbox" id="age" required><br></br>
                    <input type="text" name="sex" placeholder="Enter Your sex" class="textbox" id="sex" required><br></br>
                    <input type="submit" class="btn" value="Update">
              </form>
                </div>

            </div>
        </div>
    </body>
</html>
